		<!-- Header -->
		<div class="header">
			<div class="main-header">

				<div class="header-left">
					<a [routerLink]="routes.index" class="logo">
						<img src="assets/img/logo.svg" alt="Logo">
					</a>
					<a [routerLink]="routes.index" class="dark-logo">
						<img src="assets/img/logo-white.svg" alt="Logo">
					</a>
				</div>

				<a id="mobile_btn" (click)="togglesMobileSideBar()" (keydown.enter)="togglesMobileSideBar()" tabindex="0" class="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>

				<div class="header-user">
					<div class="nav user-menu">

						<div class="me-auto d-flex align-items-center" id="header-search">
							<a id="toggle_btn" (click)="toggleSideBar()" href="javascript:void(0);" class="btn btn-menubar me-1">
								<i class="ti ti-arrow-bar-to-left"></i>
							</a>

							<!-- <a [routerLink]="routes.profileSettings" class="btn btn-menubar">
								<i class="ti ti-settings-cog"></i>
							</a> -->
						</div>

						<!-- Horizontal Single -->
						<div class="sidebar sidebar-horizontal" id="horizontal-single">
							<div class="sidebar-menu">
								<div class="main-menu">
                  <ul class="nav-menu">
                    @for (mainTittle of side_bar_data; track mainTittle) {
                    <li class="menu-title">
                      <span>{{ mainTittle.title }}</span>
                    </li>
                    @for (menu of mainTittle?.menu; track menu) { @if (menu.hasSubRoute ===
                    true) {
                    <li class="submenu">
                      <a
                        href="javascript:void(0)"
                        (click)="expandSubMenus(menu)"
                        (keydown.enter)="expandSubMenus(menu)"
                        tabindex="0"
                        [class.active]="base === menu.base || base === menu.base2 || base === menu.base3 || base === menu.base4 || base === menu.base5 || base === menu.base6 "
                        [ngClass]="{'subdrop': menu.showSubRoute === true}">
                        <i [class]="'ti ti-' + menu.icon"></i>
                        <span>{{ menu.menuValue }}</span>
                        <span class="menu-arrow"></span>
                      </a>
                      <ul
                        [ngClass]="
                          menu.showSubRoute === true ? 'show-sub-menu' : 'hide-sub-menu'
                        "
                      >
                        @for (subMenus of menu.subMenus; track subMenus) {
                        <li>
                          <a
                            [routerLink]="subMenus.route"
                            [class.active]="
                              page === subMenus.base || base === subMenus.base
                            "
                          >
                            {{ subMenus.menuValue }}</a
                          >
                        </li>
                        }
                      </ul>
                    </li>
                    } @if (menu.hasSubRouteTwo === true) {
                    <li class="submenu">
                      <a
                        href="javascript:void(0);"
                        (click)="expandSubMenus(menu)"
                        [class.active]="base === menu.base || base === menu.base2 || base === menu.base3 || base === menu.base4 || base === menu.base5 || base === menu.base6
                        || base === menu.base7 || base === menu.base8 || base === menu.base9 || base === menu.base10 "
                        [ngClass]="{ 'subdrop': menu.showSubRoute === true }"
                      >
                        <i class="ti ti-cube"></i>
                        <span>{{ menu.menuValue }}</span>
                        <span class="menu-arrow"></span>
                      </a>
                      <ul [ngClass]="menu.showSubRoute === true ? 'd-block' : 'd-none'">
                        @for (subMenus of menu.subMenus; track subMenus) { @if
                        (subMenus.customSubmenuTwo === false) {
                        <li>
                          <a [class.active]="base === subMenus.base || page === subMenus.base"
                          [routerLink]="subMenus.route">{{ subMenus.menuValue }}</a>
                        </li>
                        } @if (subMenus.customSubmenuTwo === true) {
                        <li class="submenu submenu-two">
                          <a
                            href="javascript:void(0);"
                            [class.active]="base === subMenus.base "
                            (click)="openSubmenuOne(subMenus)"
                            [ngClass]="{ subdrop: openSubmenuOneItem === subMenus }"
                          >
                            {{ subMenus.menuValue }}
                            <span class="menu-arrow inside-submenu"></span>
                          </a>
                          <ul
                            [ngClass]="
                              openSubmenuOneItem === subMenus ? 'd-block' : 'd-none'
                            "
                          >
                            @for (subMenuTwo of subMenus.subMenusTwo; track subMenuTwo) {
                            <li>
                              <a [class.active]="
                              page === subMenuTwo.base
                            " [routerLink]="subMenuTwo.route">{{
                                subMenuTwo.menuValue
                              }}</a>
                            </li>
                            }
                          </ul>
                        </li>
                        } }
                      </ul>
                    </li>
                    } } }
                    <li class="submenu">
                      <a
                        [ngClass]="{ subdrop: multilevel[0] }"
                        (click)="multilevel[0] = !multilevel[0]"
                        href="javascript:void(0);"
                        ><i class="ti ti-level-up-alt"></i> <span>Multi Level</span>
                        <span class="menu-arrow"></span
                      ></a>
                      <ul [ngClass]="multilevel[0] === true ? 'd-block' : 'd-none'">
                        <li class="submenu">
                          <a
                            [ngClass]="{ subdrop: multilevel[1] }"
                            (click)="multilevel[1] = !multilevel[1]"
                            href="javascript:void(0);"
                            ><span>Level 1</span> <span class="menu-arrow"></span
                          ></a>
                          <ul [ngClass]="multilevel[1] === true ? 'd-block' : 'd-none'">
                            <li>
                              <a href="javascript:void(0);"><span>Level 2</span></a>
                            </li>
                            <li class="submenu">
                              <a
                                [ngClass]="{ subdrop: multilevel[2] }"
                                (click)="multilevel[2] = !multilevel[2]"
                                href="javascript:void(0);"
                              >
                                <span> Level 2</span> <span class="menu-arrow"></span
                              ></a>
                              <ul [ngClass]="multilevel[2] === true ? 'd-block' : 'd-none'">
                                <li><a href="javascript:void(0);">Level 3</a></li>
                                <li><a href="javascript:void(0);">Level 3</a></li>
                              </ul>
                            </li>
                            <li>
                              <a href="javascript:void(0);"><span>Level 2</span></a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="javascript:void(0);"><span>Level 1</span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <div class="d-xl-flex align-items-center d-none">
                    <a href="javascript:void(0);" class="me-3 avatar avatar-sm">
                      <img
                        src="assets/img/profiles/avatar-07.jpg"
                        alt="profile"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0);"
                      class="btn btn-icon btn-sm rounded-circle mode-toggle"
                    >
                      <i class="ti ti-sun"></i>
                    </a>
                  </div>
                </div>
							</div>
						</div>
						<!-- /Horizontal Single -->

						<div class="d-flex align-items-center">

							<div class="me-1 notification_item">
              <a
              href="javascript:void(0);"
              class="btn btn-menubar notif-bell"
              id="notification_popup"
              data-bs-toggle="dropdown"
              aria-label="Notifications"
            >
              <i class="ti ti-bell"></i>

              <!-- Badge compteur -->
              <span class="notif-badge" *ngIf="unread > 0">
                {{ unread > 999 ? '999+' : unread }}
              </span>
            </a>


                <div class="dropdown-menu dropdown-menu-end notification-dropdown p-4">
                  <div class="d-flex align-items-center justify-content-between border-bottom p-0 pb-3 mb-3">
                    <h4 class="notification-title">Notifications ({{ unread }})</h4>
                  </div>

                  <div class="noti-content">
                    <div class="d-flex flex-column" *ngIf="latest?.length; else empty">
                      <div class="border-bottom mb-3 pb-3"
                          *ngFor="let n of latest"
                          [ngClass]="{ 'bg-light': !n.read, 'bg-white': n.read }">
                        <a href="javascript:void(0)" (click)="openItem(n)" class="pb-0">
                          <div class="d-flex">
                            <div class="flex-grow-1">
                              <p class="mb-1">
                                <span class="text-dark fw-semibold">{{ n.message }}</span>
                              </p>
                              <span>{{ n.created_at | date:'short' }}</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <ng-template #empty>
                      <div class="text-center text-muted py-3">Aucune notification</div>
                    </ng-template>
                  </div>

                  <div class="d-flex p-0">
                    <a href="javascript:void(0);" class="btn btn-light w-100 me-2" data-bs-dismiss="dropdown">Fermer</a>
                    <a [routerLink]="'/rh/notifications'" class="btn btn-primary w-100">Afficher Plus</a>
                  </div>
                </div>
              </div>

							<div class="dropdown profile-dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center"
									data-bs-toggle="dropdown">
									<span class="avatar avatar-sm online">
                    <svg viewBox="0 0 24 24" width="80" height="70" aria-hidden="true">
                      <circle cx="12" cy="12" r="10" fill="#000"/>   <!-- cercle noir -->
                      <path d="M12 12a3.5 3.5 0 1 0-3.5-3.5A3.5 3.5 0 0 0 12 12Zm0 2c-3.33 0-6 1.79-6 4v1h12v-1c0-2.21-2.67-4-6-4Z" fill="#fff"/>
                    </svg>
                  </span>
								</a>
								<div class="dropdown-menu shadow-none">
									<div class="card mb-0">
										<div class="card-header">
											<div class="d-flex align-items-center">
												<span class="avatar avatar-lg me-2 avatar-rounded">
													<img src="assets/img/profiles/avatar-12.jpg" alt="img">
												</span>
												<div>
													<h5 class="mb-0">{{userAuthentified?.first_name}} {{userAuthentified?.last_name}}</h5>
													<p class="fs-12 fw-medium mb-0">{{userAuthentified?.email}}</p>
												</div>
											</div>
										</div>
										<div class="card-body">
											<a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                      [routerLink]="routes.profile">
												<i class="ti ti-user-circle me-1"></i>Mon Profil
											</a>
										</div>
										<div class="card-footer">
											<a class="dropdown-item d-inline-flex align-items-center p-0 py-2"  href="javascript:void(0);"
                      (click)="onLogout()">
                      <i class="ti ti-login me-2"></i>Déconnexion</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" [routerLink]="routes.profile">Mon Profil</a>
						<a class="dropdown-item" href="javascript:void(0);" (click)="onLogout()">Déconnexion</a>
					</div>
				</div>
				<!-- /Mobile Menu -->

			</div>

		</div>
		<!-- /Header -->
